* {
  margin: 0;
  box-sizing: border-box;
  background-color: black;
}

.container {
    margin: auto;
    max-width: 1000px;
    font-family: "roboto condensed";
  }
.heading {
    font-family: "anton";
    color: rgb(182, 2, 2);
  }
.nav-links {
    display: flex;
    list-style: none;
    padding-left: 0;
  }
.nav-link-item {
    padding-right: 2rem;
  }
.nav-link-text {
    font-family: "anton";
    color: rgb(255, 255, 255);
    font-size: 20px;
  }
.site-title {
    height: 70px;
    width: 200px;
    margin-top: 3rem;
  }
.body {
    font-family: "roboto condensed";
    color: rgb(255, 255, 255);
}
.event-link > a {
    font-family: "anton";
    color: rgb(255, 255, 255);
}
.landing-page{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}