.container {
    margin: auto;
    max-width: 1000px;
    font-family: sans-serif;
  }
.heading {
    font-family: "anton";
    color: rebeccapurple;
  }
.nav-links {
    display: flex;
    list-style: none;
    padding-left: 0;
  }
.nav-link-item {
    padding-right: 2rem;
  }
.nav-link-text {
    font-family: "anton";
    color: black;
  }
.site-title {
    font-family: "anton";
    font-size: 3rem;
    color: gray;
    font-weight: 700;
    margin: 3rem 0;
  }
.body {
    font-family: "roboto condensed";
    color: red;
}
.event-link{
    font-family: "anton";
    color: black;
}